.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    color: rgb(0, 0, 0);
    font-family: Tahoma, sans-serif;
   
}

.Formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 40px 120px;
    background-color: #e9e9e9;
    box-shadow: 0px 6px 15px rgba(12, 12, 12, 0.329)
    
}

.BotonIngresar{
    background-color: rgb(163, 212, 160);
    height: 50px;
    border-radius: 5%;
    font-size: 16px;
    border: none;
    box-shadow: 0px 6px 15px rgba(12, 12, 12, 0.329)
}

.usuario{
    padding: 10px 45px;
    border: none;
    box-shadow: 0px 6px 15px rgba(12, 12, 12, 0.329)
}

.password{
    padding: 10px 45px;
    border: none;
    box-shadow: 0px 6px 15px rgba(12, 12, 12, 0.329)
}