.contenedor-contactos {
  display: flex;
  height: 100vh;
  background-color: #f0f2f5;
}

.lista-contactos{
  width:15%;
  background-color: white;
  border-right: 1px solid #ddd;
  padding: 15px;
}

.contacto-item {
  display: block;
  padding: 12px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #111;
  border-radius: 8px;
  cursor: pointer;
}

.contacto-item:hover {
  background-color: #e9edef;
}