.contenedor-chat{
               
  display: flex;
  flex-direction: column;
  background-image: url(../../abstract-soft-pastel-colorful-background.jpg);
  font-family:  Tahoma, sans-serif;
  font-size: 15px;
  color: black;
}


.contacto-seleccionado {
    display: flex;
    flex-direction: column;
    justify-content: center;

  padding: 15px;
  background-color: #075e54;
  color: white;
}


.mensaje-chat {
        display: flex;
    flex-direction: column;
     
  overflow-y: auto;
  padding: 15px;
}

.chat-form {
  display: flex;              
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
}

.chat-form textarea {
  flex: 1;
  resize: none;
  height: 40px;
  border-radius: 20px;
  padding: 8px;
}

.chat-form button {
  margin-left: 10px;
  padding: 10px 16px;
  border-radius: 20px;
  background-color: #075e54;
  color: white;
  border: none;
}