.sidebar-lista{
 display: flex;
 flex-direction: column;
 flex:1;
 width: 25%;
 background-color: rgba(238, 238, 238, 0.856);
 color: black;
 font-family: Tahoma, sans-serif;
 font-size: 15px;

}

.foto-perfil {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  border: solid 2px rgb(28, 218, 28);
}